<!DOCTYPE html>
<html>

<head>
<title>TrafficLight Control Center</title>
<link rel="styleSheet" href="../static/style.css"/>
</head>

<body>
<h2 class="redtext">Traffic Light Demo</h2>
<img src="../static/image.jpg" width="100" height="80" alt="Image">
<p class="blacktext"><br>Lab680</br></p>

<h3><a href ="/NormalTraffic" class="button">Normal Traffic</a></h3>
<h3><a href="/StopSign" class="button">Stop Sign</a></h3>

<p class="blacktext"><br>Message:</br></p>
<div class="center">
	<p>{{prog}} {{rMode}}</p>
	<p><a href="/">Update Status</a></p>
	<p>{{note}}</p>
</div>
<h3><a href="/PowerDown" class="button">Power Down</a></h3>
</body>

</html> 
